$font: Arial, Avenir, Helvetica, sans-serif;
$navFont: 'Montserrat', sans-serif;

//mq
$pc-s: 1024px;
$tablet: 768px;
$mobile-l: 425px;
$mobile-m: 375px;
$mobile-s: 320px;

//nav
$white: #d9dadf;

//links colors
$color-font: #00c19f;
$hover-color: black;

//ux
$red: #de4561;
$wine: #c40065;

//styles
$grey: #c2c0c0;
